{% extends "_layout.html" %} 

{% block content %}

<h1>STORES</h1>

<table class="table">
  <tr>
    <th>Store name</th>
    <th>Warehouse count</th>
    <th></th>
  </tr>
  
  {% for store in stores %}
  <tr>
    <td>
      <a href={{url_for('show_store', store_id=store.id)}}>
      {{store.name}}
      </a>
    </td>
    <td>
    {{store.warehouses | length}}
    </td>
    <td>
      <form action={{ url_for('delete_store') }} method="POST">
        <input name="store_id" value={{store.id}} class="d-none"/>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
